<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>962601600541-ncoh8ghnjqvbgu2k1ah75dhn0qim3qvq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.962601600541-ncoh8ghnjqvbgu2k1ah75dhn0qim3qvq</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>962601600541-bae83ivf167mobs89adi95qq37uu2bki.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC5sB8_TKLEhzf9rXra_MG8O8R52YfFlgs</string>
	<key>GCM_SENDER_ID</key>
	<string>962601600541</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.lpcapital.appIp</string>
	<key>PROJECT_ID</key>
	<string>lp-capital</string>
	<key>STORAGE_BUCKET</key>
	<string>lp-capital.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:962601600541:ios:f308319f5858226e0328f4</string>
</dict>
</plist>